# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
.tests/
.pytest_cache

# Node / Sites
node_modules/
.next/
.vinext/
.wrangler/
dist/
*.tsbuildinfo

# agent
.agents/
.codex/
.codebuddy/
.superpowers/

# IDE
# .vscode/

# 其他
*.log
.DS_Store
.docs/tradingview-picture/
.docs/
docs/tradingview-picture/
vscode-extensions/debug/*.png
vscode-extensions_old/**/*.svg
