# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
.tests/

# Node / Sites
node_modules/
.next/
.vinext/
.wrangler/
dist/

# agent
.agents/
.codex/

# IDE
# .vscode/

# 其他
*.log
.DS_Store
